/* кастомні властивості або css зміні */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --subtitle-text-color: #212121;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --add-text-color: #ffffff;
  --primary-white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/* header */
.logo {
  color: var(--accent-color);
  text-decoration: none;
}
.logo-first-color {
  color: black;
}
.logo-second-color {
  color: white;
}
.list {
  list-style: none;
}
.site-nav .link {
  color: #212121;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .contact {
  color: #757575;
  text-decoration: none;
}
.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--accent-color);
}
/* body */
.hero {
  background-color: var(--footer-background-color);
}
.hero-title {
  color: var(--primary-white-color);
}
.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
}
.section-title {
  color: var(--title-text-color);
}
.subtitle {
  color: var(--subtitle-text-color);
}
/* Footer */
.footer {
  background-color: var(--footer-background-color);
}

.footer-address {
  color: #ffffff;
  text-decoration: none;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
